body {
	margin: 0;
	padding: 0;
	background: white;
	font: 14px/1.5 'Raleway', Arial, Helvetica, sans-serif;
	color: #000000;
}

#header {
	height: 53px;
	background-color: rgba(166, 166, 166, 0.18);	
}

#toptitle {
	padding-top: 6px;
        font-size: 14px;
	text-align: right;
}

#logo {
	height: 138px;
	text-align: left;


}

#awardslogo {
	margin-top: 8px;
	float: left;
}

#awardstitle a{
	margin-top: 43px;
        margin-left: 15px;
	float: left;
	width: 235px;
	font-family: raleway,sans-serif;
	color: rgb(185, 152, 103);
        font-size: 16px;
        letter-spacing: 2.4px;
        line-height: 20px;
	text-decoration: none;
}

#topwrapper {
	border-bottom: 0px solid rgba(229, 229, 229, 1);
	box-shadow:0px 0px 5px 0px rgba(0,0,0,0.7);
}

#bottomwrapper {
	height: 211px;
	background-color: rgba(166, 166, 166, 0.18);
}

.container {
	width: 980px;
	margin-left: auto;
	margin-right: auto;
}



#cgiContent {
	text-align: center;
	padding-bottom: 30px;
	padding-top: 10px;
	height: auto;
	vertical-align: middle;
}
#cgiContent h1 {
	font-size: 190%;
}
#cgiContent h2 {
	font-size: 140%;
}
#cgiContent h3 {
	font-size: 120%;
	padding-top: 0px;
}
#cgiContent h6 {
	font-size: 70%;
	font-weight: bolder;
}
#cgiContent p {
	font-size: 100%;
}
#cgiContent a {
	color: #788993;
}
#cgiContent table {
	border: 1px solid #000;
	text-align: left;
	margin-right: auto;
	margin-left: auto;
	padding-right: 5px;
	padding-left: 5px;
}
#cgiContent #home li {
	margin-left: 10px;
}
#cgiContent table table {
	border: 0px;
	text-align: left;
	margin-right: auto;
	margin-left: auto;
}
#cgiContent form {
	margin-right: auto;
	margin-left: auto;
}
#cgiContent table a {
	color: #664536;
}
#cgiContent table a:hover {
	color: #927936;
}
#cgiContent table caption {
	font-size: 110%;
	text-align: center;
	margin-bottom: 1px;
	padding-bottom: 1px;
}


/***********HOME PAGE TABLES***********/
#cgiContent table {
}
#cgiContent table#home {
	border: 0px solid #000;
	border-collapse: collapse;
	margin: 0px;
	text-align: left;
	padding-right: 5px;
	padding-left: 0px;
}
#cgiContent table#home table {
	border: 1px solid #000;
	text-align: left;
	margin-right: auto;
	margin-left: auto;
	padding-right: 5px;
	padding-left: 5px;
}
#cgiContent table#home table table {
	border: 0px;
	text-align: left;
}
#cgiContent table#home table a {
	color: #664536;
}
#cgiContent table#home table a:hover {
	color: #927936;
}
#cgiContent table#home table caption {
	font-size: 110%;
	text-align: center;
	margin-bottom: 1px;
	padding-bottom: 1px;
}
#cgiContent #questionarea input {
	background-color: #cbb677;
}
#cgiContent #questionarea textarea {
	background-color: #cbb677;
	width: 600px;
	height: 200px;
}

/***********Horizontal Bar***********/
#cgiContent ul#vertnav {
	list-style: none;
	background-color: #cbb677;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	float: left;
	padding: 0px;
	margin-left: 0px;
}
#cgiContent ul#vertnav li {
	float: left;
}
#cgiContent ul#vertnav  a {
	color: black;
	text-decoration: none;
	width: 128px;
	text-align: center;
	float: left;
	padding-top: 7px;
	padding-bottom: 7px;
	border-width: 1px;
	border-style: solid;
	border-color: black;
}
#cgiContent ul#vertnav a:hover {
	background-color: black;
	color: white;
}
#cgiContent ul#vertnav_last a {
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #788993;
}

/***********Horizontal Bar***********/


/*********** Vertical Nav 2 **************/
#cgiContent ul#vertnav2 {
	background-color: #cbb677;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
#cgiContent ul#vertnav2 li {
	margin: 0px;
	padding: 0px;
}
#cgiContent ul#vertnav2 li a {
	color: black;
	text-decoration: none;
	display: block;
	padding-left: 15px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-left-style: collapse;
	border-width: 1px;
	border-style: solid;
	border-color: black;
}
#cgiContent ul#vertnav2 a:hover {
	background-color: black;
	color: white;
}
#cgiContent ul#vertnav2_last a {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: black;
}
/*********** Vertical Nav **************/

#footerinside a:link,
#footerinside a:visited {
	color: #999999;
	text-decoration: none;
}
#footerinside a:hover,
#footerinside a:active {
	color: #999999;
	text-decoration: underline;
}
#footerinside {
	text-align: left;
	padding-top: 5px;
	padding-bottom: 10px;
}
#footerinside p {
	font-family: "Trebuchet MS", Arial, sans-serif;
	font-size: 70%;
	line-height: 11px;
	margin: 0; /* zeroing the margins of the first element in the footer will avoid the possibility of margin collapse - a space between divs */
	padding: 0px; /* padding on this element will create space, just as the the margin would have, without the margin collapse issue */
	color: #A4A7A6;
	text-align: center;
}
#footeroutside {
	color: #A4A7A6;
	font-size: 70%;
	text-align: right;
	padding-top: 10px;
}
#footeroutside p a {
	color: #A4A7A6;
}
