body {
	padding-top: 20px;
}

table {
	width: 100%;
}

td {
	border-bottom: 5px solid white;
}

img {
	width: 100%;
}


h1 {
	font-size: 200%;
}

h2 {
	font-size: 150%;
}

h3 {
	font-size: 100%;
	font-weight: bold;
}

.btn {
	margin-left: 5px;

}

.spacing {
	border-spacing: 0px 10px;
	border-collapse: separate;
}