//- changePassword-content.pug

- let changeUrl = '/' + program.slug + '/change-password'

h3 Change Your Password

p Please choose a new password for your account.

p(style='color:var(--border-mid); font-size:0.9em;')= passwordRules

if errors && errors.length
    each e in errors
        p(style='color:#c0392b;')= e

form(method='POST' action=changeUrl)
    table
        tr
            td New password
            td: input(type='password' name='password' size='30' maxlength='100' autocomplete='new-password' autofocus)
        tr
            td Confirm password
            td: input(type='password' name='password2' size='30' maxlength='100' autocomplete='new-password')
        tr: td(colspan='2'): hr
        tr: td(colspan='2' align='center')
            button.btn(type='submit') Save New Password
