//- passwordReset-content.pug
//- Equivalent of the inline forms in resetPassword.cgi.
//- state: 'blank' | 'question' | 'complete'

if errors && errors.length
    each err in errors
        p(style='color:red;')= err

if state === 'complete'
    p Your password has been reset. You will shortly receive an email containing your new password.
    p: a(href='/login') Click here to log in

else if state === 'question'
    p Please answer the following security question.
    p You will need to provide the same answer that you did when you set up your account.
    br
    form(method='POST' action='/password-reset')
        input(type='hidden' name='userid' value=user.userid)
        table
            tr
                td Question:
                td= user.question
            tr
                td Answer:
                td: input(type='text' name='answer' size='50' maxlength='200')
            tr
                td(colspan='2'): hr
            tr
                td(colspan='2' align='center')
                    button(type='submit') Reset Password
        p: a(href='/login') Click here to log in

else
    p Use this utility to reset your password. You may need the answer to the security question that you created when you set up your account.
    br
    p Start by entering your email address
    form(method='POST' action='/password-reset')
        table
            tr
                td Email address
                td: input(type='email' name='email' size='50' maxlength='300')
            tr
                td(colspan='2'): hr
            tr
                td(colspan='2' align='center')
                    button(type='submit') Reset Password
        p: a(href='/login') Click here to log in
