//- switchProgram-content.pug
//- Confirmation prompt shown when a user navigates to a program other than
//- the one they are currently logged into.

table(width='780' style='margin-left:auto; margin-right:auto; display:block;')
    tr
        td(style='padding: 20px;')
            h2 Switch Program
            p You are currently logged into <strong>#{program.name}</strong>.
            p Do you want to switch to <strong>#{pending.programName}</strong>?
            form(method='POST' action='')
                button(type='submit' name='action' value='confirm' style='margin-right:10px;') Switch to #{pending.programName}
                button(type='submit' name='action' value='cancel') Stay in #{program.name}
