//- tc-content.pug
//- Equiv of $tc in tc.cgi.

if mode === 'closed'
    p Entries are currently closed.
    p: a(href='/home') Return Home
else
    if error
        center
            | !&nbsp; You Must Agree to the Terms and Conditions to Proceed
            br
            | Please click the checkbox at the bottom of this form
            br
            br

    if mode === 'approve'
        h4(align='center')
            | Start a New Entry
            br
            | Step 2, Read and Agree to the Entry Terms and Conditions
            br
            br

    table(width='700')
        tr: td(align='center'): b TERMS &amp; CONDITIONS
        tr: td(style='text-align:left;' cellpadding='10')!= program.entrytctext

        if mode === 'approve'
            tr
                td
                    form(method='POST' action='/formEntry')
                        input(type='hidden' name='categoryid' value=cat)
                        tr
                            td(align='center')
                                label
                                    input(type='checkbox' name='agree' value='ON')
                                    |   I,&nbsp;
                                    = user.firstname + ' ' + user.lastname
                                    |  &nbsp;understand and agree to be bound by these terms and conditions
                        tr
                            td(align='center')
                                a(href='/home') Cancel
                                | &nbsp;
                                button(type='submit' name='submit' value='Proceed to Entry') Proceed to Entry
        else
            tr: td(align='center'): a(href='/home') Home
