//- tc-content.pug
//- Equiv of $tc in tc.cgi.

if mode === 'closed'
    p Entries are currently closed.
    p: a(href='/home') Return Home
else
    if error
        div(style='background:#5a0000; color:#fff; border-left:4px solid #c44; padding:10px 14px; margin-bottom:14px;')
            p(style='margin:2px 0') You must agree to the terms and conditions to proceed.
            p(style='margin:2px 0') Please click the checkbox at the bottom of this form.

    if mode === 'approve'
        p(style='text-align:center; color:#c48f06; font-size:18px; margin-bottom:2px') Start a New Entry
        p(style='text-align:center; color:#aaa; font-size:13px; margin-top:0; margin-bottom:16px') Step 2 — Read and agree to the entry terms and conditions

    table(width='700')
        tr: td(align='center'): b TERMS &amp; CONDITIONS
        tr: td(style='text-align:left;' cellpadding='10')!= program.entrytctext

        if mode === 'approve'
            tr
                td
                    form(method='POST' action='/formEntry')
                        input(type='hidden' name='categoryid' value=cat)
                        tr
                            td(align='center')
                                label
                                    input(type='checkbox' name='agree' value='ON')
                                    |   I,&nbsp;
                                    = user.firstname + ' ' + user.lastname
                                    |  &nbsp;understand and agree to be bound by these terms and conditions
                        tr
                            td(align='center')
                                a(href='/home') Cancel
                                | &nbsp;
                                button(type='submit' name='submit' value='Proceed to Entry') Proceed to Entry
        else
            tr: td(align='center'): a(href='/home') Home
