//- viewEntry-content.pug

if error === 'noaccess'
    p You do not have permission to view this entry.
    p: a(href='/home') Return Home
else
    p(align='center')
        b= category.name
        br
        if entry
            | Entry by #{entrant ? entrant.name : entry.entrantid}

    table(style='width:780px;')

        //- ── Criteria table ───────────────────────────────────────────────────
        if criteria && criteria.length
            tr(align='left' valign='top')
                td(style='width:300px; vertical-align:top;')
                    | Entries in this category will be assessed according to the following criteria:
                td
                    table
                        tr
                            td: b Criteria
                            td: b Weight
                        each c in criteria
                            tr
                                td= c.description
                                td(align='center')= c.weight + '%'
            tr: td(colspan='2'): hr

        //- ── Entrant detail ───────────────────────────────────────────────────
        include viewEntry/entrantdetail.pug
        tr: td(colspan='2'): hr

        //- ── Questions / Responses ────────────────────────────────────────────
        each q, i in questions
            if i > 0
                tr: td(colspan='2'): hr
            include viewEntry/question.pug

        tr: td(colspan='2'): hr

        //- ── Score / action panel ─────────────────────────────────────────────
        if scorePanel
            case scorePanel.type
                when 'scoreform'
                    include viewEntry/scoreform.pug
                when 'editcomment'
                    tr: td(colspan='2')
                        include viewEntry/editcomment.pug
                when 'hjcomment'
                    tr: td(colspan='2')
                        include viewEntry/hjcomment.pug
                when 'simplereview'
                    tr: td(colspan='2')
                        include viewEntry/simplereview.pug
                when 'entrant'
                    include viewEntry/entrantpanel.pug

        //- ── Bottom buttons ───────────────────────────────────────────────────
        if !scorePanel || scorePanel.type !== 'entrant'
            tr: td(colspan='2' align='center'): a(href='/home') Home
