//- viewEntry/entrantpanel.pug
//- Generates tr rows directly (same structure as other panels).

if scorePanel.canFinalise
    tr: td(colspan='2')
        div(style='border:2px solid #c48f06; padding:10px; margin-bottom:10px;')
            form(method='POST' action='/finaliseEntry')
                input(type='hidden' name='entryid' value=entry.entryid)
                label
                    input(type='checkbox' name='finalise' checked=entry.finalised)
                    |  This entry is complete and ready for judging
                br
                br
                button(type='submit' name='submit' value='Record') Record
    tr: td(colspan='2' align='center')
        a(href='/home') Home
        | &nbsp;&nbsp;&nbsp;
        a(href='/' + slug + '/formResponses?entryid=' + entry.entryid) Edit Entry
else
    tr: td(colspan='2')
        div(style='border:2px solid #c48f06; padding:10px; margin-bottom:10px;')
            if entry.finalised
                | This entry is complete and ready for judging
            else
                | Entry not complete and ready for judging
    tr: td(colspan='2' align='center'): a(href='/home') Home
