//- viewEntry/entrantpanel.pug
//- Generates tr rows directly (same structure as other panels).

if scorePanel.canFinalise
    tr: td(colspan='2')
        div(style='border:2px solid #c48f06; padding:10px; margin-bottom:10px;')
            form(method='POST' action='/finaliseEntry')
                input(type='hidden' name='entryid' value=entry.entryid)
                label
                    input#finalise-checkbox(type='checkbox' name='finalise' checked=entry.finalised)
                    |  This entry is complete and ready for judging
                br
                br
                button.btn(type='submit' name='submit' value='Record') Record
    tr: td(colspan='2' align='center')
        a.btn-secondary(href='/home') Home
        button.btn-secondary(type='button' onclick='window.print()') Print
        a#edit-entry-btn.btn-secondary(href='/' + slug + '/formResponses?entryid=' + entry.entryid style=entry.finalised ? 'display:none' : '') Edit Entry
else
    tr: td(colspan='2')
        div(style='border:2px solid #c48f06; padding:10px; margin-bottom:10px;')
            if entry.finalised
                | This entry is complete and ready for judging
            else
                | Entry not complete and ready for judging
    tr: td(colspan='2' align='center')
        a.btn-secondary(href='/home') Home
        button.btn-secondary(type='button' onclick='window.print()') Print
