- var discounts  = content.discounts
- var editing    = content.editing
- var formatDate = content.formatDate
- var error      = content.error
- var success    = content.success
include ../formDiscount-content.pug
