//- home/judges.pug

h3(align='center') Judge Control

table(width='640')
    tr(align='left' valign='top')
        th User No
        th Name
        th Email
        th
        th
        th
        th

    each judge in content.judges
        tr
            td= judge.userid
            td= judge.lastname + ', ' + judge.firstname
            td= judge.email
            td: a(href='/formJudge?judgeid=' + judge.userid) Edit
            td: a(href='/formUser?edituserid=' + judge.userid + '&action=demote' data-confirm='Demote this judge?') Demote
            td: a(href='/formUser?edituserid=' + judge.userid + '&action=delete' data-confirm='Delete this judge?') Delete
            td: a(href='/formUser?edituserid=' + judge.userid + '&action=disable') Disable

    tr
        td(colspan='7'): a(href='/formJudge') New Judge
